langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
python-dotenv
tavily-python
langchain-tavily
streamlit
pypdf
langchain-core
langgraph